<div ng-controller="maidController as maidCtrl">
    password
</div>

<!--<div ng-controller="managerController as manager">-->

    <!--<div class="col-md-6 col-md-offset-3 editPage">-->

        <!--<div class="account-menu">-->
            <!--<a ui-sref="myProfile"><button id="myProfile">Edit account</button></a>-->
            <!--<a ui-sref="changePassword"><button id="changePassword" class="account-menu-activ">Change Password</button></a>-->
        <!--</div>-->

        <!--<form name="form" action="manager/changePassword" method="post" role="form" >-->

            <!--<div class="changePassword">-->

                <!--<div class="form-group center-block" ng-class="{ 'has-error': form.currentPassword.$dirty &amp;&amp; form.currentPassword.$error.required &amp;&amp; manager.encryptMd5(manager.changePassword.currentPassword) != manager.currentUserPassword}">-->
                    <!--<label for="currentPassword">Current password</label>-->
                    <!--<input type="password" name="currentPassword" id="currentPassword" class="form-control" ng-model="manager.changePassword.currentPassword" required="required" />-->
                    <!--<span ng-show="form.currentPassword.$dirty &amp;&amp; form.currentPassword.$error.required" class="help-block">Current password is required!</span>-->
                    <!--<span ng-show="form.currentPassword.$dirty &amp;&amp; manager.encryptMd5(manager.changePassword.currentPassword) != manager.currentUserPassword" class="help-block">Current password is wrong!</span>-->
                <!--</div>-->

                <!--<div class="form-group center-block" ng-class="{ 'has-error': form.newPassword.$dirty &amp;&amp; form.newPassword.$error.required }">-->
                    <!--<label for="newPassword">New password</label>-->
                    <!--<input type="password" name="newPassword" id="newPassword" class="form-control" ng-model="manager.changePassword.newPassword" required="required" />-->
                    <!--<span ng-show="form.newPassword.$dirty &amp;&amp; form.newPassword.$error.required" class="help-block">New password is required!</span>-->
                    <!--<span ng-show="form.newPassword.$dirty &amp;&amp; manager.encryptMd5(manager.changePassword.newPassword) == manager.currentUserPassword" class="help-block">The password is the same as the current one!</span>-->
                <!--</div>-->

                <!--<div class="form-group center-block" ng-class="{ 'has-error': form.confirmNewPassword.$dirty &amp;&amp; form.confirmNewPassword.$error.required &amp;&amp; manager.changePassword.newPassword != manager.changePassword.confirmNewPassword}">-->
                    <!--<label for="confirmNewPassword">Confirm new password</label>-->
                    <!--<input type="password" name="confirmNewPassword" id="confirmNewPassword" class="form-control" ng-model="manager.changePassword.confirmNewPassword" required="required" />-->
                    <!--<span ng-show="form.confirmNewPassword.$dirty &amp;&amp; form.confirmNewPassword.$error.required" class="help-block">Confirmation of the new password is required!</span>-->
                    <!--<span ng-show="form.confirmNewPassword.$dirty &amp;&amp; form.newPassword.$dirty &amp;&amp; manager.changePassword.newPassword != manager.changePassword.confirmNewPassword" class="help-block">Password is not the same!</span>-->
                <!--</div>-->

            <!--</div>-->
            <!--<div class="form-actions changePassword-button">-->
                <!--<button type="submit" class="btn btn-primary"-->
                        <!--ng-disabled="form.$invalid ||-->
                                    <!--manager.encryptMd5(manager.changePassword.currentPassword) != manager.currentUserPassword ||-->
                                    <!--manager.changePassword.newPassword != manager.changePassword.confirmNewPassword ||-->
                                    <!--manager.encryptMd5(manager.changePassword.newPassword) == manager.currentUserPassword">-->
                    <!--Change </button>-->
            <!--</div>-->

        <!--</form>-->

    <!--</div>-->
<!--</div>-->