<!DOCTYPE html>
<html lang="en" ng-app="RoyalPalaceHotel">
<head>
    <meta charset="UTF-8" />
    <title>Royal Palace Hotel</title>

    <link rel="icon"
          type="image/x-icon"
          href="/img/hotel-ico.ico" />
    <link rel="stylesheet" type="text/css" href="/styles/login.css"/>

</head>
<body ng-controller="loginController as lg">

<div class="login-container">
    <div class="login-top">
        <img src="/img/hotel-logo.png"/>
    </div>
    <div class="login-bottom">
        <form name="login" action="login" method="POST" ng-if="lg.login" class="loginForm">
            <input name="username" type="text" placeholder="Email" /><br/><br/>
            <input name="password" type="password" placeholder="Password" /><br/>

            <button class="button" type="submit">Sign in</button>
        </form>

        <form name="signUp" action="signUp" method="POST" ng-if="lg.newAccount" class="newAccountForm">
            <div>
                <input name="lastName" type="text" placeholder="Last Name" /><br/><br/>
                <input name="firstName" type="text" placeholder="First Name" /><br/><br/>
                <input name="address" type="text" placeholder="Address" /><br/>
            </div>
            <div>
                <input name="guestPhone" type="text" placeholder="Phone" /><br/><br/>
                <input name="guestEmail" type="text" placeholder="Email" /><br/><br/>
                <input name="password" type="password" placeholder="Password" /><br/><br />
                <button class="button" type="submit">Sign up</button>
            </div>
        </form>
    </div>
    <div class="login-footer">
        <div class="forgot-password">
            <span ng-click="lg.forgotPass()">Forgot Password</span>?
        </div>
        <div class="new-guest-account" ng-if="lg.login">
            <span ng-click="lg.newAccount=true;lg.login=false;">Create new guest account</span>
        </div>
        <div class="login-account" ng-if="lg.newAccount">
            <span ng-click="lg.newAccount=false;lg.login=true;">Sign in as guest</span>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular-ui-router/1.0.0-rc.1/angular-ui-router.min.js"></script>
<script src="/js/module.js"></script>
<script src="/js/login/login.controller.js"></script>
<script src="/js/login/login.service.js"></script>

</body>
</html>