<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Royal Palace Hotel</title>

    <link rel="icon"
          type="image/x-icon"
          href="/img/crown.ico" />
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="/styles/login.css"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"/>
    <s
</head>
<body>
    <div class="container">
        <div>Email</div>
        <input type="text" id="email" name="email" /><br/><br/>
        <div>Password</div>
        <input type="password" id="password" name="password"/>
        <button class="login-button">Get In</button>
    </div>
</body>
</html>