<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" ng-app="RoyalPalaceHotel">
<head>
    <meta charset="UTF-8" />
    <title>Royal Palace Hotel</title>

    <link rel="icon"
          type="image/x-icon"
          href="/img/hotel-ico.ico" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="/styles/manager.css"/>
</head>
<body ng-controller="managerController as manager">

<div class="welcome">
    <span> Welcome, {{manager.username}}! </span>
    <button> My profile </button>
    <button> Sign Out </button>
</div>

<div class="manager-container">
    <div class="manager-content">

        <div class="tab">
            <button class="tablink" ng-click="manager.currentPage = 'home'" id="home">Home</button>
            <button class="tablink" ng-click="manager.currentPage = 'newAccount'" id="newAccount">New Account</button>
            <button class="tablink" ng-click="manager.currentPage = 'rooms'" id="rooms">Hotel Rooms</button>
            <button class="tablink" ng-click="manager.currentPage = 'reports'" id="reports">Reports</button>
            <button class="tablink" ng-click="manager.currentPage = 'guests'" id="guests">Guests</button>
        </div>

        <div class="tabcontent">
            <ng-include src="manager.getCurrentContent()"></ng-include>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular-ui-router/1.0.0-rc.1/angular-ui-router.min.js"></script>

<script src="/js/script.js"></script>
<script src="/js/module.js"></script>
<script src="/js/manager/manager.controller.js"></script>
<script src="/js/manager/manager.service.js"></script>
</body>
</html>