<div ng-controller="reservationsController as res">
    <div class="col-md-6 col-md-offset-3 reservations">

        <div class="reservations-menu">
            <a ui-sref="newReservation"><button id="newReservation" class="reservations-menu-activ">New Reservation</button></a>
            <a ui-sref="viewReservations"><button id="viewReservations">View Reservations</button></a>
        </div>

        <!--GUEST-->

        <div class="searchByCnp" ng-show="res.viewGuest">
            <span> Search guest by CNP </span><br/>
            <input type="text" class="form-control" ng-change="res.searchByCnp()" ng-model="res.cnp"/><br/>
            <span> or add new guest </span>
        </div>

        <form name="guestForm" role="form" ng-show="res.viewGuest">

            <div class="saveGuest">
                <div class="left-content">
                    <div class="form-group" ng-class="{ 'has-error': guestForm.lastName.$dirty &amp;&amp; guestForm.lastName.$error.required }">
                        <label for="lastName">Last name</label>
                        <input type="text" name="lastName" id="lastName" class="form-control" ng-model="res.guest.lastName" required="required" />
                        <span ng-show="guestForm.lastName.$dirty &amp;&amp; guestForm.lastName.$error.required" class="help-block">Last name is required</span>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': guestForm.firstName.$dirty &amp;&amp; guestForm.firstName.$error.required }">
                        <label for="firstName">First name</label>
                        <input type="text" name="firstName" id="firstName" class="form-control" ng-model="res.guest.firstName" required="required" />
                        <span ng-show="guestForm.firstName.$dirty &amp;&amp; guestForm.firstName.$error.required" class="help-block">First name is required</span>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': guestForm.gender.$dirty &amp;&amp; guestForm.gender.$error.required }">
                        <label for="gender">Gender</label>
                        <select id="gender" name="gender" class="form-control" ng-model="res.guest.gender" required="required" ng-init="res.guest.gender='male'">
                            <option value="male"> Male </option>
                            <option value="female"> Female </option>
                        </select>
                        <span ng-show="guestForm.gender.$dirty &amp;&amp; guestForm.gender.$error.required" class="help-block">Gender is required</span>
                    </div>

                </div>

                <div class="right-content">
                    <div class="form-group" ng-class="{ 'has-error': guestForm.cnp.$dirty &amp;&amp; guestForm.cnp.$error.required }">
                        <label for="cnp">CNP</label>
                        <input type="text" name="cnp" id="cnp" class="form-control" ng-change="res.validateCnp()" ng-model="res.guest.cnp" required="required" />
                        <span ng-show="guestForm.cnp.$dirty &amp;&amp; guestForm.cnp.$error.required" class="help-block">CNP is required</span>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': guestForm.address.$dirty &amp;&amp; guestForm.address.$error.required }">
                        <label for="address">Address</label>
                        <input type="text" name="address" id="address" class="form-control" ng-model="res.guest.address" required="required" />
                        <span ng-show="guestForm.address.$dirty &amp;&amp; guestForm.address.$error.required" class="help-block">Address is required</span>
                    </div>

                    <div class="form-group">
                        <label for="customerPhone">Phone</label>
                        <input type="text" name="customerPhone" id="customerPhone" class="form-control" ng-model="res.guest.customerPhone" />
                    </div>

                </div>
            </div>

            <div class="form-actions saveGuest-button" ng-show="res.viewGuest">
                <button type="submit" class="btn btn-primary" ng-click="res.viewGuest=false;res.viewRequest=true">
                        <!--ng-disabled="guestForm.$invalid" -->
                    Next </button>
            </div>

        </form>


        <!--REQUEST-->

        <form name="requestForm" id="requestForm" role="form" ng-show="res.viewRequest">

            <div class="saveRequest">

                <div class="form-group" ng-class="{ 'has-error': requestForm.arrivalDate.$dirty &amp;&amp; requestForm.arrivalDate.$error.required }">
                    <label for="arrivalDate">Arrival date</label>
                    <div class='input-group date' id='datetimepicker1'>
                        <input type="text" name="arrivalDate" id="arrivalDate" class="form-control" ng-model="res.request.arrivalDate" required="required" />
                        <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error': requestForm.departureDate.$dirty &amp;&amp; requestForm.departureDate.$error.required }">
                    <label for="departureDate">Departure date</label>
                    <div class='input-group date' id='datetimepicker2'>
                        <input type="text" name="departureDate" id="departureDate" class="form-control" ng-model="res.request.departureDate" required="required"/>
                        <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="nrOfPerson">Number of person</label>
                    <input type="text" name="nrOfPerson" id="nrOfPerson" class="form-control" ng-model="res.nrOfPerson" />
                </div>

            </div>

            <div class="saveRequest-buttons">
                <div class="form-actions editGuest-button" ng-show="res.viewRequest">
                    <button type="submit" class="btn btn-primary" ng-click="res.viewRequest=false;res.viewGuest=true">
                        Previous </button>
                </div>

                <div class="form-actions saveRequest-button" ng-show="res.viewRequest">
                    <button type="submit" class="btn btn-primary" ng-click="res.viewRequest=false;res.viewRoom=true;res.saveRequestedDate()">
                        Next </button>
                </div>
            </div>

        </form>


        <!--ROOM-->

        <form name="form" role="form" ng-show="res.viewRoom">

            <table class="rooms-table first-floor" ng-show="res.isFirstFloorOpen">
                <caption style="font-size: 18px; text-align: center;">First Floor</caption>
                <tr>
                    <td class="r13"></td><td class="r13"></td><td class="r13"></td>
                    <td class="r14 b-left"></td><td class="r14"></td>
                    <td class="r15 b-left"></td><td class="r15"></td>
                    <td class="r16 b-left"></td><td class="r16"></td><td class="r16"></td>
                </tr>
                <tr>
                    <td class="r13"></td><td class="r13"></td><td class="r13"></td>
                    <td class="r14 b-left"></td><td class="r14"></td>
                    <td class="r15 b-left"></td><td class="r15"></td>
                    <td class="r16 b-left"></td><td class="r16"></td><td class="r16"></td>
                </tr>
                <tr>
                    <td class="r13 b-bottom"></td><td class="r13 b-bottom"></td><td class="r13 b-bottom"></td>
                    <td class="r14 b-left"></td><td class="r14"></td>
                    <td class="r15 b-left"></td><td class="r15"></td>
                    <td class="r16 b-left b-bottom"></td><td class="r16 b-bottom"></td><td class="r16 b-bottom"></td>
                </tr>
                <tr>
                    <td class="r12"></td><td class="r12"></td>
                    <td class="Hall b-left"></td>
                    <td class="r14 b-left"></td><td class="r14"></td>
                    <td class="r15 b-left"></td><td class="r15"></td>
                    <td class="Hall b-left"></td>
                    <td class="r17 b-left"></td><td class="r17"></td>
                </tr>
                <tr>
                    <td class="r12"></td><td class="r12"></td>
                    <td class="Hall b-left"></td>
                    <td class="r14 b-left b-bottom"></td><td class="r14 b-bottom"></td>
                    <td class="r15 b-left b-bottom"></td><td class="r15 b-bottom"></td>
                    <td class="Hall b-left"></td>
                    <td class="r17 b-left"></td><td class="r17"></td>
                </tr>
                <tr>
                    <td class="r12 b-bottom"></td><td class="r12 b-bottom"></td>
                    <td class="Hall b-left"></td><td class="Hall"></td><td class="Hall"></td>
                    <td class="Hall"></td><td class="Hall"></td><td class="Hall"></td>
                    <td class="r17 b-left b-bottom"></td><td class="r17 b-bottom"></td>
                </tr>
                <tr>
                    <td class="r11"></td><td class="r11"></td>
                    <td class="Hall b-left"></td><td class="Hall b-bottom-big"></td><td class="Hall b-bottom-big"></td>
                    <td class="Hall b-bottom-big"></td><td class="Hall b-bottom-big"></td><td class="Hall"></td>
                    <td class="r18 b-left"></td><td class="r18"></td>
                </tr>
                <tr>
                    <td class="r11 b-bottom"></td><td class="r11"></td>
                    <td class="Hall b-left"></td>
                    <td class="b-left-big"></td><td></td><td></td><td></td>
                    <td class="Hall b-left-big"></td>
                    <td class="r18 b-left"></td><td class="r18 b-bottom"></td>
                </tr>
                <tr>
                    <td class="r10"></td>
                    <td class="r11 b-left b-bottom"></td>
                    <td class="Hall b-left"></td>
                    <td class="b-left-big"></td><td></td><td></td><td></td>
                    <td class="Hall b-left-big"></td>
                    <td class="r18 b-left b-bottom"></td>
                    <td class="r19 b-left"></td>
                </tr>
                <tr>
                    <td class="r10"></td><td class="r10"></td>
                    <td class="Hall b-left"></td>
                    <td class="b-left-big"></td><td></td><td></td><td></td>
                    <td class="Hall b-left-big"></td>
                    <td class="r19 b-left"></td><td class="r19"></td>
                </tr>
                <tr>
                    <td class="r10 b-bottom-big"></td><td class="r10 b-bottom-big"></td>
                    <td class="Hall b-left b-bottom-big"></td>
                    <td class="b-left-big"></td><td></td><td></td><td></td>
                    <td class="Hall b-left-big b-bottom-big"></td>
                    <td class="r19 b-left b-bottom-big"></td><td class="r19 b-bottom-big"></td>
                </tr>
            </table>


            <table class="rooms-table second-floor" ng-show="res.isSecondFloorOpen">
                <caption style="font-size: 18px; text-align: center;">Second Floor</caption>
                <tr>
                    <td class="r22"></td><td class="r22"></td>
                    <td class="r23 b-left"></td><td class="r23"></td>
                    <td class="r24 b-left"></td>
                    <td class="r25 b-left"></td>
                    <td class="r26 b-left"></td><td class="r26"></td>
                    <td class="r27 b-left"></td><td class="r27"></td>
                </tr>
                <tr>
                    <td class="r22"></td><td class="r22"></td>
                    <td class="r23 b-left"></td><td class="r23"></td>
                    <td class="r24 b-left"></td>
                    <td class="r25 b-left"></td>
                    <td class="r26 b-left"></td><td class="r26"></td>
                    <td class="r27 b-left"></td><td class="r27"></td>
                </tr>
                <tr>
                    <td class="r22"></td><td class="r22"></td>
                    <td class="r23 b-left b-bottom"></td><td class="r23 b-bottom"></td>
                    <td class="r24 b-left"></td>
                    <td class="r25 b-left"></td>
                    <td class="r26 b-left b-bottom"></td><td class="r26 b-bottom"></td>
                    <td class="r27 b-left"></td><td class="r27"></td>
                </tr>
                <tr>
                    <td class="r22 b-bottom"></td><td class="r22 b-bottom"></td>
                    <td class="Hall b-left"></td>
                    <td class="r24 b-left"></td><td class="r24"></td>
                    <td class="r25 b-left"></td><td class="r25"></td>
                    <td class="Hall b-left"></td>
                    <td class="r27 b-left b-bottom"></td><td class="r27 b-bottom"></td>
                </tr>
                <tr>
                    <td class="r21"></td><td class="r21"></td>
                    <td class="Hall b-left"></td>
                    <td class="r24 b-left b-bottom"></td><td class="r24 b-bottom"></td>
                    <td class="r25 b-left b-bottom"></td><td class="r25 b-bottom"></td>
                    <td class="Hall b-left"></td>
                    <td class="r28 b-left"></td><td class="r28"></td>
                </tr>
                <tr>
                    <td class="r21"></td><td class="r21"></td>
                    <td class="Hall b-left"></td><td class="Hall"></td><td class="Hall"></td>
                    <td class="Hall"></td><td class="Hall"></td><td class="Hall"></td>
                    <td class="r28 b-left"></td><td class="r28"></td>
                </tr>
                <tr>
                    <td class="r21"></td><td class="r21 b-bottom"></td>
                    <td class="Hall b-left"></td><td class="Hall b-bottom-big"></td><td class="Hall b-bottom-big"></td>
                    <td class="Hall b-bottom-big"></td><td class="Hall b-bottom-big"></td><td class="Hall"></td>
                    <td class="r28 b-left b-bottom"></td><td class="r28"></td>
                </tr>
                <tr>
                    <td class="r21 b-bottom"></td>
                    <td class="r20 b-left"></td>
                    <td class="Hall b-left"></td>
                    <td class="b-left-big"></td><td></td><td></td><td></td>
                    <td class="Hall b-left-big"></td>
                    <td class="r29 b-left"></td><td class="r28 b-left b-bottom"></td>
                </tr>
                <tr>
                    <td class="r20"></td><td class="r20"></td>
                    <td class="Hall b-left"></td>
                    <td class="b-left-big"></td><td></td><td></td><td></td>
                    <td class="Hall b-left-big"></td>
                    <td class="r29 b-left"></td><td class="r29"></td>
                </tr>
                <tr>
                    <td class="r20"></td><td class="r20"></td>
                    <td class="Hall b-left"></td>
                    <td class="b-left-big"></td><td></td><td></td><td></td>
                    <td class="Hall b-left-big"></td>
                    <td class="r29 b-left"></td><td class="r29"></td>
                </tr>
                <tr>
                    <td class="r20 b-bottom-big"></td><td class="r20 b-bottom-big"></td>
                    <td class="Hall b-left b-bottom-big"></td>
                    <td class="b-left-big"></td><td></td><td></td><td></td>
                    <td class="Hall b-left-big b-bottom-big"></td>
                    <td class="r29 b-left b-bottom-big"></td><td class="r29 b-bottom-big"></td>
                </tr>
            </table>


            <table class="rooms-table third-floor" ng-show="res.isThirdFloorOpen">
                <caption style="font-size: 18px; text-align: center;">Third Floor</caption>
                <tr>
                    <td class="r32"></td><td class="r32"></td>
                    <td class="r33 b-left"></td><td class="r33"></td>
                    <td class="r34 b-left"></td>
                    <td class="r35 b-left"></td>
                    <td class="r36 b-left"></td><td class="r36"></td>
                    <td class="r37 b-left"></td><td class="r37"></td>
                </tr>
                <tr>
                    <td class="r32"></td><td class="r32"></td>
                    <td class="r33 b-left"></td><td class="r33"></td>
                    <td class="r34 b-left"></td>
                    <td class="r35 b-left"></td>
                    <td class="r36 b-left"></td><td class="r36"></td>
                    <td class="r37 b-left"></td><td class="r37"></td>
                </tr>
                <tr>
                    <td class="r32"></td><td class="r32"></td>
                    <td class="r33 b-left b-bottom"></td><td class="r33 b-bottom"></td>
                    <td class="r34 b-left"></td>
                    <td class="r35 b-left"></td>
                    <td class="r36 b-left b-bottom"></td><td class="r36 b-bottom"></td>
                    <td class="r37 b-left"></td><td class="r37"></td>
                </tr>
                <tr>
                    <td class="r32"></td><td class="r32"></td>
                    <td class="Hall b-left"></td>
                    <td class="r34 b-left"></td><td class="r34"></td>
                    <td class="r35 b-left"></td><td class="r35"></td>
                    <td class="Hall b-left"></td>
                    <td class="r37 b-left b-bottom"></td><td class="r37 b-bottom"></td>
                </tr>
                <tr>
                    <td class="r32"></td><td class="r32"></td>
                    <td class="Hall b-left"></td>
                    <td class="r34 b-left b-bottom"></td><td class="r34 b-bottom"></td>
                    <td class="r35 b-left b-bottom"></td><td class="r35 b-bottom"></td>
                    <td class="Hall b-left"></td>
                    <td class="r38 b-left"></td><td class="r38"></td>
                </tr>
                <tr>
                    <td class="r32 b-bottom"></td><td class="r32 b-bottom"></td>
                    <td class="Hall b-left"></td><td class="Hall"></td><td class="Hall"></td>
                    <td class="Hall"></td><td class="Hall"></td><td class="Hall"></td>
                    <td class="r38 b-left"></td><td class="r38"></td>
                </tr>
                <tr>
                    <td class="r31"></td><td class="r31"></td>
                    <td class="Hall b-left"></td><td class="Hall b-bottom-big"></td><td class="Hall b-bottom-big"></td>
                    <td class="Hall b-bottom-big"></td><td class="Hall b-bottom-big"></td><td class="Hall"></td>
                    <td class="r38 b-left b-bottom"></td><td class="r38"></td>
                </tr>
                <tr>
                    <td class="r31 b-bottom"></td><td class="r31"></td>
                    <td class="Hall b-left"></td>
                    <td class="b-left-big"></td><td></td><td></td><td></td>
                    <td class="Hall b-left-big"></td>
                    <td class="r39 b-left"></td>
                    <td class="r38 b-left b-bottom"></td>
                </tr>
                <tr>
                    <td class="r30"></td>
                    <td class="r31 b-left b-bottom"></td>
                    <td class="Hall b-left"></td>
                    <td class="b-left-big"></td><td></td><td></td><td></td>
                    <td class="Hall b-left-big"></td>
                    <td class="r39 b-left"></td><td class="r39"></td>
                </tr>
                <tr>
                    <td class="r30"></td><td class="r30"></td>
                    <td class="Hall b-left"></td>
                    <td class="b-left-big"></td><td></td><td></td><td></td>
                    <td class="Hall b-left-big"></td>
                    <td class="r39 b-left"></td><td class="r39"></td>
                </tr>
                <tr>
                    <td class="r30 b-bottom-big"></td><td class="r30 b-bottom-big"></td>
                    <td class="Hall b-left b-bottom-big"></td>
                    <td class="b-left-big"></td><td></td><td></td><td></td>
                    <td class="Hall b-left-big b-bottom-big"></td>
                    <td class="r39 b-left b-bottom-big"></td><td class="r39 b-bottom-big"></td>
                </tr>
            </table>


            <table class="rooms-table fourth-floor" ng-show="res.isFourthFloorOpen">
                <caption style="font-size: 18px; text-align: center;">Fourth Floor</caption>
                <tr>
                    <td class="r41"></td><td class="r41"></td>
                    <td class="r42 b-left"></td><td class="r42"></td><td class="r42"></td>
                    <td class="r43 b-left"></td><td class="r43"></td><td class="r43"></td>
                    <td class="r44 b-left"></td><td class="r44"></td>
                </tr>
                <tr>
                    <td class="r41"></td><td class="r41"></td>
                    <td class="r42 b-left"></td><td class="r42"></td><td class="r42"></td>
                    <td class="r43 b-left"></td><td class="r43"></td><td class="r43"></td>
                    <td class="r44 b-left"></td><td class="r44"></td>
                </tr>
                <tr>
                    <td class="r41"></td><td class="r41"></td>
                    <td class="r42 b-left b-bottom"></td><td class="r42"></td><td class="r42"></td>
                    <td class="r43 b-left"></td><td class="r43"></td><td class="r43 b-bottom"></td>
                    <td class="r44 b-left"></td><td class="r44"></td>
                </tr>
                <tr>
                    <td class="r41"></td><td class="r41"></td>
                    <td class="Hall b-left"></td>
                    <td class="r42 b-left"></td><td class="r42"></td>
                    <td class="r43 b-left"></td><td class="r43"></td>
                    <td class="Hall b-left"></td>
                    <td class="r44 b-left"></td><td class="r44"></td>
                </tr>
                <tr>
                    <td class="r41"></td><td class="r41 b-bottom"></td>
                    <td class="Hall b-left"></td>
                    <td class="r42 b-left b-bottom"></td><td class="r42 b-bottom"></td>
                    <td class="r43 b-left b-bottom"></td><td class="r43 b-bottom"></td>
                    <td class="Hall b-left"></td>
                    <td class="r44 b-left b-bottom"></td><td class="r44"></td>
                </tr>
                <tr>
                    <td class="r41 b-bottom"></td>
                    <td class="r40 b-left"></td>
                    <td class="Hall b-left"></td><td class="Hall"></td><td class="Hall"></td>
                    <td class="Hall"></td><td class="Hall"></td><td class="Hall"></td>
                    <td class="r45 b-left"></td><td class="r44 b-left b-bottom"></td>
                </tr>
                <tr>
                    <td class="r40"></td><td class="r40"></td>
                    <td class="Hall b-left"></td><td class="Hall b-bottom-big"></td><td class="Hall b-bottom-big"></td>
                    <td class="Hall b-bottom-big"></td><td class="Hall b-bottom-big"></td><td class="Hall"></td>
                    <td class="r45 b-left"></td><td class="r45"></td>
                </tr>
                <tr>
                    <td class="r40"></td><td class="r40"></td>
                    <td class="Hall b-left"></td>
                    <td class="b-left-big"></td><td></td><td></td><td></td>
                    <td class="Hall b-left-big"></td>
                    <td class="r45 b-left"></td><td class="r45"></td>
                </tr>
                <tr>
                    <td class="r40"></td><td class="r40"></td>
                    <td class="Hall b-left"></td>
                    <td class="b-left-big"></td><td></td><td></td><td></td>
                    <td class="Hall b-left-big"></td>
                    <td class="r45 b-left"></td><td class="r45"></td>
                </tr>
                <tr>
                    <td class="r40"></td><td class="r40"></td>
                    <td class="Hall b-left"></td>
                    <td class="b-left-big"></td><td></td><td></td><td></td>
                    <td class="Hall b-left-big"></td>
                    <td class="r45 b-left"></td><td class="r45"></td>
                </tr>
                <tr>
                    <td class="r40 b-bottom-big"></td><td class="r40 b-bottom-big"></td>
                    <td class="Hall b-left b-bottom-big"></td>
                    <td class="b-left-big"></td><td></td><td></td><td></td>
                    <td class="Hall b-left-big b-bottom-big"></td>
                    <td class="r45 b-left b-bottom-big"></td><td class="r45 b-bottom-big"></td>
                </tr>
            </table>

            <table class="elevator">
                <tr>
                    <td>
                    <span ng-class="{activeFloor: res.isFirstFloorOpen}"
                          ng-click="res.closeTables(); res.isFirstFloorOpen = true">1</span>
                    </td>
                </tr>
                <tr>
                    <td>
                    <span ng-class="{activeFloor: res.isSecondFloorOpen}"
                          ng-click="res.closeTables(); res.isSecondFloorOpen = true">2</span>
                    </td>
                </tr>
                <tr>
                    <td>
                    <span ng-class="{activeFloor: res.isThirdFloorOpen}"
                          ng-click="res.closeTables(); res.isThirdFloorOpen = true">3</span>
                    </td>
                </tr>
                <tr>
                    <td>
                    <span ng-class="{activeFloor: res.isFourthFloorOpen}"
                          ng-click="res.closeTables(); res.isFourthFloorOpen = true">4</span>
                    </td>
                </tr>
            </table>

            <table class="color-legend">
                <tr>
                    <td class="typeSI"></td><td>Single</td>
                    <td class="typeDO"></td><td>Double</td>
                    <td class="typeTW"></td><td>Twin</td>
                    <td class="typeTR"></td><td>Triple</td>
                    <td class="typeAP"></td><td>Apartment</td>
                </tr>
            </table>

            <!-- Modal -->
            <div class="modal" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"> </h4>
                        </div>
                        <div class="modal-body">
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default chooseButton" ng-click="res.chooseRoom()"></button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="saveRoom-buttons">
                <div class="form-actions editRequest-button">
                    <button type="button" class="btn btn-primary" ng-click="res.viewRoom=false;res.viewRequest=true">
                        Previous </button>
                </div>

                <div class="form-actions saveReservation-button">
                    <button type="button" class="btn btn-primary" ng-click="res.submitRequest()">
                        Submit </button>
                </div>
            </div>
        </form>

    </div>
</div>