<div ng-controller="managerController as manager">

    <div id="rooms-page">
        <h2 id="title">Hotel rooms</h2>

        <table id="rooms-table" class="first-floor">
            <caption style="font-size: 18px; text-align: center;">First Floor</caption>
            <tr>
                <td class="r13"></td><td class="r13"></td><td class="r13"></td>
                <td class="r14 b-left"></td><td class="r14"></td>
                <td class="r15 b-left"></td><td class="r15"></td>
                <td class="r16 b-left"></td><td class="r16"></td><td class="r16"></td>
            </tr>
            <tr>
                <td class="r13"></td><td class="r13"></td><td class="r13"></td>
                <td class="r14 b-left"></td><td class="r14"></td>
                <td class="r15 b-left"></td><td class="r15"></td>
                <td class="r16 b-left"></td><td class="r16"></td><td class="r16"></td>
            </tr>
            <tr>
                <td class="r13 b-bottom"></td><td class="r13 b-bottom"></td><td class="r13 b-bottom"></td>
                <td class="r14 b-left"></td><td class="r14"></td>
                <td class="r15 b-left"></td><td class="r15"></td>
                <td class="r16 b-left b-bottom"></td><td class="r16 b-bottom"></td><td class="r16 b-bottom"></td>
            </tr>
            <tr>
                <td class="r12"></td><td class="r12"></td>
                <td class="Hall b-left"></td>
                <td class="r14 b-left"></td><td class="r14"></td>
                <td class="r15 b-left"></td><td class="r15"></td>
                <td class="Hall b-left"></td>
                <td class="r17 b-left"></td><td class="r17"></td>
            </tr>
            <tr>
                <td class="r12"></td><td class="r12"></td>
                <td class="Hall b-left"></td>
                <td class="r14 b-left b-bottom"></td><td class="r14 b-bottom"></td>
                <td class="r15 b-left b-bottom"></td><td class="r15 b-bottom"></td>
                <td class="Hall b-left"></td>
                <td class="r17 b-left"></td><td class="r17"></td>
            </tr>
            <tr>
                <td class="r12 b-bottom"></td><td class="r12 b-bottom"></td>
                <td class="Hall b-left"></td><td class="Hall"></td><td class="Hall"></td>
                <td class="Hall"></td><td class="Hall"></td><td class="Hall"></td>
                <td class="r17 b-left b-bottom"></td><td class="r17 b-bottom"></td>
            </tr>
            <tr>
                <td class="r11"></td><td class="r11"></td>
                <td class="Hall b-left"></td><td class="Hall b-bottom-big"></td><td class="Hall b-bottom-big"></td>
                <td class="Hall b-bottom-big"></td><td class="Hall b-bottom-big"></td><td class="Hall"></td>
                <td class="r18 b-left"></td><td class="r18"></td>
            </tr>
            <tr>
                <td class="r11 b-bottom"></td><td class="r11"></td>
                <td class="Hall b-left"></td>
                <td class="b-left-big"></td><td></td><td></td><td></td>
                <td class="Hall b-left-big"></td>
                <td class="r18 b-left"></td><td class="r18 b-bottom"></td>
            </tr>
            <tr>
                <td class="r10"></td>
                <td class="r11 b-left b-bottom"></td>
                <td class="Hall b-left"></td>
                <td class="b-left-big"></td><td></td><td></td><td></td>
                <td class="Hall b-left-big"></td>
                <td class="r18 b-left b-bottom"></td>
                <td class="r19 b-left"></td>
            </tr>
            <tr>
                <td class="r10"></td><td class="r10"></td>
                <td class="Hall b-left"></td>
                <td class="b-left-big"></td><td></td><td></td><td></td>
                <td class="Hall b-left-big"></td>
                <td class="r19 b-left"></td><td class="r19"></td>
            </tr>
            <tr>
                <td class="r10 b-bottom-big"></td><td class="r10 b-bottom-big"></td>
                <td class="Hall b-left b-bottom-big"></td>
                <td class="b-left-big"></td><td></td><td></td><td></td>
                <td class="Hall b-left-big b-bottom-big"></td>
                <td class="r19 b-left b-bottom-big"></td><td class="r19 b-bottom-big"></td>
            </tr>
        </table>
    </div>
</div>