
body {
    background-color: #2e0f2b;
    background-size: cover;
    height: 100%;
}

.main-container {
    position: absolute;
    height: 95%;
    width: 100%;
}

.menu-container {
    height: 90%;
    width: 100%;
    top: 10%;
    left: 0;
}

.menu-content {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Style the tab */
div.tab {
    float: left;
    flex: 15%;
    height: 100%;
    background-color: #996083;
}

/* Style the buttons inside the tab */
div.tab button {
    display: block;
    background-color: inherit;
    color: black;
    width: 100%;
    height: 10%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    border-bottom: 1px solid #2e0f2b;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: white;
}

div.tab a {
    text-decoration: none;
}

/* Create an active/current "tab button" class */
div.tab .active {
    background-color: white;
}

/* Style the tab content */
.tabcontent {
    float: left;
    flex: 85%;
    border-left: none;
    height: 100%;
    background-color: white;
}

.tabcontent>div {
    margin-top: 3%;
    height: 100%;
}

.tabcontent>div>div {
    height: 100%;
}

.footer {
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
}

.welcome {
    height: 10%;
    width: 100%;
    text-align: right;
    padding-top: 2%;
    padding-right: 1%;
}

.welcome span {
    color: white;
}

.welcome a {
    text-decoration: none;
}