.editAccount {
    display: flex;
}

.editAccount .form-control, .changePassword .form-control,
.newAccountPage .form-control, .newOfferPage .form-control,
.newPromotionPage .form-control {
    width: 80%;
}

.editAccount-button, .changePassword-button,
.newAccount-button, .newOffer-button,
.newPromotion-button {
    text-align: right;
}

.changePassword-button {
    margin-right: 15%;
    margin-top: 10%;
}

.editAccount-button button, .changePassword-button button,
.newAccount-button button, .newOffer-button button,
.newPromotion-button button {
    min-width: 15%;
    height: 3em;
    margin-right: 10%;
    background-color: #996083;
    font-size: 0.7em;
    color: white;
}

.editAccount-button button:hover, .changePassword-button button:hover,
.newAccount-button button:hover, .newOffer-button button:hover,
.newPromotion-button button:hover {
    color: white;
}

.editPage, .newAccountPage, .newOfferPage, .newPromotionPage {
    width: 80% !important;
    margin-left: 10%!important;
    height: 100%;
}

.editPage .account-menu, .newAccountPage h2, .newOfferPage h2, .newPromotionPage h2 {
    text-align: center;
    height: 15%;
    width:100%;
}

.account-menu button {
    background-color: transparent;
    border: none;
    font-size: 1.3em;
    margin-bottom: 3%;
    color: #2e0f2b;
}

.account-menu #changePassword {
    border-left: 1px solid #2e0f2b;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: 1px solid #2e0f2b;
    opacity: 0.7;
}

.account-menu #myProfile {
    border-right: 1px solid #2e0f2b;
    padding-right: 5%;
    padding-left: 5%;
    border-bottom: 1px solid #2e0f2b;
    opacity: 0.7;
}

.account-menu .account-menu-activ {
    color: #2e0f2b;
    background-color: rgba(153, 96, 131, 0.6);
    opacity: 1!important;
}

.changePassword .form-group {
    width: 50%;
    height: 15%;
}