.newAccount-button, .newOffer-button {
    text-align: right;
}

.newAccount, .newOffer {
    display: flex;
}

#allGuestsTable_wrapper {
    background-color: rgba(256, 256, 256, 0.6);
    padding: 1%;
}

#allGuestsTable {
    width: auto!important;
    padding: 3%;
}

.newAccountPage #title, .newOfferPage #title {
    height: auto;
    text-align: center;
    color: black;
    background-color: rgba(256, 256, 256, 0.5);
    vertical-align: middle;
}

textarea {
    resize: none;
}

#myChart {
    margin: auto;
    margin-top: 2%;
    height: 70%!important;
    width: 65%!important;
    padding: 1%;
}

#reports-select {
    text-align: center;
}

#reports-select span {
    color: white;
}