/*Manager Page*/

body {
    background-color: #2e0f2b;
    background-size: cover;
    height: 100%;
}

.manager-container {
    position: absolute;
    height: 90%;
    width: 100%;
    top: 10%;
    left: 0;
}

.manager-content {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Style the tab */
div.tab {
    float: left;
    flex: 15%;
    height: 100%;
    background-color: #996083;
}

/* Style the buttons inside the tab */
div.tab button {
    display: block;
    background-color: inherit;
    color: black;
    width: 100%;
    height: 10%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    border-bottom: 1px solid #2e0f2b;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: white;
}

div.tab a {
    text-decoration: none;
}

/* Create an active/current "tab button" class */
div.tab .active {
    background-color: white;
}

/* Style the tab content */
.tabcontent {
    float: left;
    flex: 85%;
    border-left: none;
    height: 100%;
    background-color: white;
}

.tabcontent>div {
    margin-top: 3%;
    height: 100%;
}

.tabcontent>div>div {
    height: 100%;
}

.welcome {
    float: right;
    margin-top: 1%;
    margin-right: 5%;
    display: inline;
}

.welcome span {
    color: white;
}

.welcome a {
    text-decoration: none;
}

#title {
    text-align: center;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}




/*New Account page*/


.newAccount-button, .editAccount-button, .changePassword-button {
    text-align: right;
}

.newAccount, .editAccount {
    display: flex;
}




/*Edit Account Page*/


.editPage {
    width: 80% !important;
    margin-left: 10%!important;
}

.editPage .account-menu {
    text-align: center;
}

.account-menu button {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    margin-bottom: 3%;
    color: #2e0f2b;
}

.account-menu #changePassword {
    border-left: 1px solid #2e0f2b;
    padding-left: 3%;
    padding-right: 3%;
    border-bottom: 1px solid #2e0f2b;
    opacity: 0.5;
}

.account-menu #myProfile {
    border-right: 1px solid #2e0f2b;
    padding-right: 3%;
    padding-left: 3%;
    border-bottom: 1px solid #2e0f2b;
    opacity: 0.5;
}

.account-menu .account-menu-activ {
    color: #2e0f2b;
    background-color: #996083;
    opacity: 1!important;
}

.changePassword .form-group {
    width: 50%;
    height: 15%;
}

.right-content {
    width: 50%;
    margin-left: 5%;
}

.left-content {
    width: 50%;
    margin-right: 5%;
}




/*Rooms page*/


#rooms-page {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    /*padding-right: 10%;*/
}

.rooms-table {
    width: 90%;
    height: 27vw;
    margin: 0 auto;
    border: 2px solid black;
    border-bottom: none;
    float: left;
}

.rooms-table tr {
    width: 100%;
    height: 9%;
}

.rooms-table td {
    width: 10%;
}

.typeSI {
    background-color: rgb(113, 101, 178);
}

.typeTR {
    background-color: rgb(190, 164, 210);
}

.typeAP {
    background-color: rgb(240, 226, 248);
}

.typeTW {
    background-color: rgb(189, 204, 255);
}

.typeDO {
    background-color: rgb(140, 157, 226);
}

.Hall {
    background-color: lightgrey;
}

.b-left {
    border-left: 1px solid black;
}

.b-bottom {
    border-bottom: 1px solid black;
}

.b-left-big {
    border-left: 2px solid black;
}

.b-bottom-big {
    border-bottom: 2px solid black;
}

.elevator {
    width: 8%;
    height: 12vw;
    margin: 17% auto 12% auto;
    border: 1px solid black;
}

.elevator td {
    text-align: center;
    margin: 50%;
    height: 25%;
    width: 100%;
}

.elevator td span {
    padding: 8%;
    border: 1px solid #996083;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.activeFloor {
    background-color: #996083;
    border: 1px solid black;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    color: white;
}

#myModal {
    margin: 10% auto;
    text-align: center;
}

#rooms-page #title {
    padding-right: 10%;
}

html {
    overflow-y: scroll;
}

.color-legend {
    width: 70%;
    height: 10px;
    margin-left: auto;
    margin-right: 18%;
}

.color-legend tr {
    width: 100%;
}

.color-legend tr td {
    width: 10%;
    text-align: center;
    padding-left: 2px;
}




/*Reservations Page*/



.reservations {
    width: 80% !important;
    margin-left: 10%!important;
    height: 10em;
}

.reservations .reservations-menu {
    text-align: center;
}

.reservations-menu button {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    margin-bottom: 3%;
    color: #2e0f2b;
}

.reservations-menu #viewReservations {
    border-left: 1px solid #2e0f2b;
    padding-left: 3%;
    padding-right: 3%;
    border-bottom: 1px solid #2e0f2b;
    opacity: 0.5;
}

.reservations-menu #newReservation {
    border-right: 1px solid #2e0f2b;
    padding-right: 3%;
    padding-left: 3%;
    border-bottom: 1px solid #2e0f2b;
    opacity: 0.5;
}

.reservations-menu .reservations-menu-activ {
    color: #2e0f2b;
    background-color: #996083;
    opacity: 1!important;
}

.reservations-menu .form-group {
    width: 50%;
    height: 15%;
}

#price {
    width: 10%;
}


/*Save Reservation page*/

.saveGuest-button, .saveRequest-button, .saveReservation-button {
    text-align: right;
}

.editGuest-button, .editRequest-button {
    text-align: left;
}

.saveGuest, .saveRequest-buttons, .saveRoom-buttons {
    display: flex;
}

.editGuest-button, .saveRequest-button, .editRequest-button, .saveReservation-button {
    width: 50%!important;
}

.searchByCnp {
    width: 50%;
    text-align: center;
    margin: 2em auto;
}

#requestForm {
    width: 70%;
}

.reservations .rooms-table {
    height: 20vw;
}

.saveRoom-buttons {
    margin-top: 2%;
}

.reservations .elevator {
    margin-bottom: 15%;
}