<div>
    <div class="col-md-6 col-md-offset-3 reservations"
         ng-controller="viewReservationsController as view"
         ng-class="{'loadingScreen': view.loading}">

        <i class="fa fa-spinner fa-spin loading-spinner" style="font-size:30px"
           ng-show="view.loading"></i>
        <div class="reservations-menu">
            <a ui-sref="viewReservations"><button id="viewRes" class="reservations-menu-activ">View Reservations</button></a>
            <a ui-sref="newReservation"><button id="newReservation">New Reservation</button></a>
        </div>

        <table id="allReservationsTable" class="display table table-striped table-bordered">
        </table>
    </div>
</div>